@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
}
body{

    background-color: cadetblue;
}
header {

    background-image: linear-gradient(to bottom, rgb(16, 130, 134), cadetblue);
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    
}

p {
    margin: 30px auto;
    width: 500px;
    font-family: 'Combo', cursive;
    font-size: 21px;
}

#nav > a{

    color: aliceblue;
    font-size: 14px;
    
    padding: 5px;
    font-weight: bold;
   
    
}

#nav > a:hover {
    background-color: rgb(49, 39, 158);
}

#p3{
  
    margin: 30px 50px;
    box-shadow: 20px 20px black;
    width: 30%;
}

p{
    font-size: 36px;
    color: aliceblue;
    text-align: center;

}


.botao{
    
    background-color:rgb(145, 179, 230);
    width: 180px;
    height: 60px;
    text-align: center;
    border:0px;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;

}

.botao:hover{

    background-color: blue;
}

.botao:active{
    background-color: brown;
}

.conteudo-principal{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   text-align: center;
   color: aliceblue;
   gap:10px;

}


.conteudo-escrito{
    display:flex;
    flex-direction: column;
    align-items: center;

}

#sobreolivro {

    background-image: linear-gradient(to top, rgb(16, 130, 134), cadetblue);
    height: 500px;
    text-align: center;
    vertical-align: middle;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    margin: 10px auto;
    padding: 30px 30px 30px 60px;
   
    
    
    
}
#sobreolivro > p {

    
    
    text-align: top;
    width: 300px;
    margin: 10px auto 10px;
    display: inline-block;
    
}

footer{
    text-align: center;
    margin: 10px;
}

h1{
    
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
padding: 10px;
text-align: center;
}


ul{
    list-style-type: none;
}
h2{
    
    font-family: 'DynaPuff', cursive; 
    text-align: center;
}
.fotoautor{
border: 5px solid black;
box-shadow: 10px 10px;

}


.albumautor{
  
    height: 600px;
    display:flex;
    justify-content: center;
    
}

.autores{

    width: 300px;
}

img{
    margin: 10px;
    
}

button{

    border:1px solid wheat;
    padding: 1px;
  
    color:white;
    background-color: brown;
    text-align: center;
    box-shadow: 5px 5px black ;
    border-radius: 5px;
    width: 160px;
    height: 50px;
}

button:hover{
    background-color: blue;
}

#linklivro{

    width: 300px;
}

form{
    padding:30px;
}

#capa{
    background-image: url("/imagens/capalonga.jpg");
height: 600px;
background-size: contain;
/*
//background-repeat: no-repeat;
//background-position: center;
*/

}

address{
    color: aliceblue;
}

